$layer: linear-gradient(rgba(222, 184, 135, 0.3), rgba(136, 136, 136, 0.3));
$white-grey: rgb(219, 219, 219);
$lignt-grey: rgb(168, 168, 168);
$brown: rgb(87, 47, 30);
$lignt-brown: rgb(100, 71, 61);
$dark-red: rgb(99, 5, 5);
$nice-black: rgb(34, 34, 34);
$the-color: #ddbf99;
$mediaScreen-width: 768px;
$text-shadow: 4px 4px 4px #000;
// fonts
// $heading-font: 'Great Vibes', cursive;
// $body-font: 'Viaoda Libre', cursive;
$body-font: 'Indie Flower', cursive;
$links-font: 'Dancing Script', cursive;
$heading-font: 'Permanent Marker', cursive;
$logo-font: 'Frijole', cursive;
// transitions
$transition: all 0.4s ease;
